- if current_user
  - prediction = current_user.prediction_for match
  - if match.has_started?
    - link = '#'
  - else
    - link = prediction ? edit_match_prediction_path(match, prediction) : new_match_prediction_path(match)
%a.list-group-item.text-center{href: link, class: match.next_match? ? 'active large' : ''}
  %p.list-group-item-text
    Kick off:
    = match.decorate.kick_off_date_and_time
  %h4.list-group-item-heading
    = "#{match.home_team.name} V #{match.away_team.name}"
  %p.list-group-item-text
    - if prediction
      = prediction.decorate.summary
